<style>
code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
</style>

<h3>{{ .Timestamp }}</h3>
<hr>
<b>Total backups: {{ .Totalbackups }}<br>
<b>Total backup with success: {{ .Totalbackupsuccess }}<br>
<b>Pi Temp: {{ .PiTemp }}
<hr>

<code>
{{ .Content }}
</code>

<br>

<h3>Execution time</h3>
<hr>
{{ range $e := .ElapsedTimes }}
<b> {{ $e.Target }} - {{ $e.Elapsed }}</b> <br>
{{ end }}
<br>
Total: {{ .TotalElapsedTime }} (in seconds)<br>
<hr>

<br>

<h3>File changes</h3>
<hr>
{{ range $t := .TargetsSize }}
{{ $t.Name }} - <b>Before:</b>{{ $t.Before }} Mb / <b>After:</b>{{ $t.After}} Mb <br>
{{ end }}
<hr>
